<!doctype html>
<title>Hello from Flask</title>
<h1>Hello, World!</h1>
{% for veiculo in veiculos %}
<p>{{veiculo.Marca}} {{veiculo.Modelo}} {{veiculo.Cor}} </p>
<p>Tipo do Veiculo 
  {{ "Carro" if veiculo.Tipo == 1 else "Moto" }}!
</p>
<p>Aceita Parcelamento: {{ "Sim" if veiculo.Parcela else "Não" }}
</p>
<p>Estado do carro: {{ "Novo" if veiculo.Novo else "Usado" }} Km Rodados: {{veiculo.KmRodados}}
</p>
<p>Passagem Por Leilão: {{ "Sim" if veiculo.Leilao else "Não" }}
</p>
{% endfor %}
</ul>
  